.navbar {
  font-size: 35px;
}

.FirstPageTitle {
  padding-top: 25px;
  font-size: 50px;
}

.BookIcon {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.navbar-nav {
  text-align: center;
}


#myButton {
  font-size: 100px;
}

.categoriFilter {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 180px auto 40px;
  margin-top: 40px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.book p span {
  display: inline-block;
  width: 130px;
}